@import url('https://fonts.googleapis.com/css?family=Poppins|Quicksand&display=swap');

p, li{
    font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4 ,h5{
    font-family: 'Poppins', sans-serif;
}
    
body{
    height: auto;
    width: 100vw;
    
}

header{
    width: 100%;
    height: 250px;
    margin-bottom: 0px;
    color: #fff;
    background: rgb(35,144,148);
    background: linear-gradient(22deg, rgba(3,11,13,1) 0%, rgba(35,61,148,1) 53%, rgba(35,82,148,1) 100%);
    position: relative;
}

.title-big h1{
    font-size: 50px;
    position: absolute;
    left: 10%;
    bottom: 25%;
    text-transform: uppercase;
}

.title-big h2{
    font-size: 18px;
    position: absolute;
    bottom: 15%;
    left: 10%;
    text-transform: uppercase;
    border-left: 15px solid #ff5500;
    padding-left: 10px;
    color: #fc9700;
}

.title-small{
    display: none;
}


nav{
    position: absolute;
    bottom: 15%;
    right: 10%;
}

header li{
    display: inline-block;
    padding-left: 30px;
    font-size: 13px;
}

i.material-icons.nav{
    font-size: 20px;
    padding-right: 10px;
    vertical-align: middle;
    position: relative;
    top: -3px;
}

header li:hover{
    color: #ff5500;
    cursor: pointer;
}

article{
    padding-top: 100px;
    background-color: #000;
    height: auto;
    padding-bottom: 50px;
}

.imagebox{
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.box{
    margin: 0 15px;
    justify-content: space-around;
    margin-bottom: 40px;
    border-radius: 10px;
}

.box.small{
    width: 300px;
    height: 400px;
    overflow: hidden;
    transition: all 0.3s ease-out;
    filter: brightness(0.5);
    overflow: hidden;
}

.box.big{
    filter: brightness(0.5);
    transition: all 0.3s ease-out;
}

.image{
    width: 100%;
    height: auto;
    background-size: cover;
    border-radius: 10px;
}

.box.small:hover{
    filter:brightness(1);
    cursor: pointer;
    transform: scale(1.3);
    z-index: 999;
}

.box.big:hover{
    filter:brightness(1);
    cursor: pointer;
    transform: scale(1.1);
    z-index: 999;
}




@media (max-width: 700px){
    .title-small{
        display: block;
    }
    
    .title-big{
        display: none;
    }
    
    nav{
        display: none;
    }
    
    .title-small h1{
        font-size: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -95px;
        text-transform: uppercase;
    }

    .title-small h2{
        font-size: 20px;
        position: absolute;
        left: 50%;
        margin-left: -120px;
        bottom: 30%;
        text-transform: uppercase;
        color: #fc9700;
    }
         .imagebox{
        max-width: 100%;
        border-radius: 10px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
    }

    .box{
        margin: 0 20px;
        justify-content: space-around;
        margin-bottom: 40px;
        border-radius: 10px;
}
    
    .box.small{
        width: 40%;
        height: 100%;
        transition: all 0.3s ease-out;
        filter: brightness(0.5);
    }
    
    .box.big{
        width: 40%;
        height: 100%;
        filter: brightness(0.5);
    }
}

@media (min-width: 701px){
     .imagebox{
        max-width: 100%;
        border-radius: 10px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
    }

    .box{
        margin: 0 20px;
        justify-content: space-around;
        margin-bottom: 40px;
        border-radius: 10px;
}
    
    .box.small{
        width: 300px;
        height: 400px;
        transition: all 0.3s ease-out;
        filter: brightness(0.5);
    }
      .title-small{
        display:none;
    }
    
    .title-big{
        display: block;
    }
    
    nav{
        display: block;
    }
    
    header li{
    display: inline-block;
    padding-left: 10px;
    }
    
    .box.big{
    width: 42%;
    height: 100%;
    filter: brightness(0.5);
    }
    
}


@media (max-width: 500px), screen and (orientation: portrait) {
    .imagebox{
        max-width: 100%;
        border-radius: 10px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
    }

    .box{
        margin: 0 20px;
        justify-content: space-around;
        margin-bottom: 40px;
        border-radius: 10px;
}
    
    .box.small{
        width: 45%;
        height: 100%;
        transition: all 0.3s ease-out;
        filter: brightness(0.5);
    }
    
    .title-small{
        display: block;
    }
    
    .title-big{
        display: none;
    }
    
    nav{
        display: none;
    }

      .title-small h1{
        font-size: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -95px;
        margin-top:-25px;
        text-transform: uppercase;
    }

    .title-small h2{
        font-size: 20px;
        position: absolute;
        left: 50%;
        margin-left: -120px;
        bottom: 30%;
        text-transform: uppercase;
        color: #fc9700;
        top: 60%;
    }
    
    .box.big{
    width: 45%;
    height: 100%;
    filter: brightness(0.5);
    }
}
